.login {
  padding: 50px; }
  .login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .login form .username {
      padding: 30px 50px;
      font-size: 50px;
      background: #212931;
      border-radius: 100px;
      color: #e5e5e5;
      margin: 50px; }
    .login form .send {
      transition: 0.5s;
      font-size: 30px;
      padding: 20px 50px;
      background: #85ba86;
      color: #1b2128;
      border-radius: 100px;
      cursor: pointer; }
      .login form .send:hover {
        transform: scale(1.1); }
