@import "./variables.scss";

.login {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    color: $color_3;
    font-family: Pacifico;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 100;
  }

  .username {
    padding: 30px 50px;
    font-size: 50px;
    background: $color_2;
    border-radius: 100px;
    color: $color_8;
    margin: 50px;
  }

  .send {
    transition: 0.5s;
    font-size: 30px;
    padding: 20px 50px;
    background: $color_6;
    color: $color_1;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  #loading {
    font-size: 20px;
    text-align: center;
  }
  #loading.loading {
    transition: 1s;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 50px auto;
    border-top: 2px solid $color_7;
    animation: spin 1s linear infinite;
  }
}

.app {
  animation: comeup;
  animation-duration: 1s;
  background: $color_1;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #map {
    height: calc(100% - 150px);
    width: calc(100% - 150px);
  }
}
